<div class="container">
  <div class="row mt-5">
    <div class="col-4">
  <div class="form-group">
    <label for="Lado">Lado: </label>
    <input type="number" class="form-control" id="Lado" [(ngModel)]="lado">
  </div>
  <div class="form-group">
    <label for="area">Area: </label>
    <input type="number" class="form-control" id="area" [(ngModel)]="area"  disabled>
  </div>
  <div class="form-group">
    <label for="perimetro">Perimetro: </label>
    <input type="number" class="form-control" id="perimetro" [(ngModel)]="perimetro"  disabled>
  </div>
  <button type="button" class="btn btn-primary" (click)="enviar()">Enviar</button>
</div>
</div>
</div>